<footer class="container footer">
  <div class="footer-container" >
    <div style="display: inline-block; vertical-align: top; float: left; width: 50%">
      <a class="" routerLink="/logo">

        <img src="/assets/logos-03.png" height="45" width="120">
      </a>
    </div>

    <div style="vertical-align: top; margin-right: 20px; display: inline-block; ">  want to work with me?</div>

    <div style="display: inline-block; letter-spacing: 1px">
      <span class="mail">avivtal@gmail.com</span>
      <br/>
      <span class="mail">+972-544371963</span>
    </div>
  </div>

  <!-- <span style="font-size: 12px; margin-left: 15px "> © 2019 AVIV TAL All Rights Reserved</span> -->


</footer>
