.footer {
  margin-top: 200px;
  margin-bottom: 120px;

  .mail {
    color: #2999BC;
  }

  .footer-container {
    display: block;
    margin-bottom: 20px;
    border-top: 1px solid #e3dfdf;
    padding-top: 35px
  }
}
