<div class="container contact-wrapper" style="">

  <div class="text">
    Hi ! My name is Aviv.
    I’m a multi disciplinary artist and 3D generalist from Tel Aviv, Israel.

    <br/>
    <br/>
    I would love to help you take your business branding to the next level,
    so if you have interesting projects feel free to drop me a line.

  </div>

  <div class="text mail">
    <span style="font-weight: 700; color: #23578f">mail: </span> avivtal@gmail.com
    <br/>
    <span style="font-weight: 700; color: #23578f">phone: </span> +972-544371963
  </div>

</div>

<!--
creative studio specialising in design, motion graphics and visual arts.
Let's collaborate!
-->
