<!-- Photo Grid -->
<div class="container" style="margin-bottom: 150px">
  <div class="column">
    <div class="image_hover">
      <a routerLink="/poc">
        <img src="/assets/2.PNG" class="image" style="width:100%">
        <div class="middle text" style="background-color: #4E8E79">proov</div>
      </a>
    </div>

    <div class="image_hover">
      <a routerLink="/anodot">
        <img src="/assets/1_A.PNG" class="image" style="width:100%">
        <div class="middle text" style="background-color: #2999BC">anodot</div>
      </a>
    </div>

    <div class="image_hover">
      <a routerLink="/netafim">
        <img src="/assets/6_A.PNG" class="image" style="width:100%">
        <div class="middle text" style="background-color: #E4AF28">netafim</div>
      </a>
    </div>
  </div>

  <div class="column">
    <a routerLink="/transfotech">
      <div class="image_hover">
        <img src="/assets/4.PNG" class="image" style="width:100%">
        <div class="middle text" style="background-color: #2E2D32">transfotech</div>
      </div>
    </a>

    <div class="image_hover">
      <a routerLink="/minereye">
        <img src="/assets/5.PNG" class="image" style="width:100%">
        <div class="middle text" style="background-color: #FB5C4C">minereye</div>
      </a>
    </div>

    <div class="image_hover">
      <a routerLink="/hysolate">
        <img src="/assets/3.PNG" class="image" style="width:100%">
        <div class="middle text" style="background-color: #B66373">hysolate</div>
      </a>
    </div>
  </div>

</div>

