<div class="container" style="margin-bottom: 150px">

  <div class="column" >
    <img src="/assets/japan/japan1.PNG" class="image" style="width:100%">
    <img src="/assets/japan/japan2.PNG" class="image" style="width:100%">
    <img src="/assets/japan/japan3.PNG" class="image" style="width:100%">
    <img src="/assets/japan/japan4.PNG" class="image" style="width:100%">
    <img src="/assets/japan/japan5.PNG" class="image" style="width:100%">
    <img src="/assets/japan/japan6.PNG" class="image" style="width:100%">
    <img src="/assets/japan/japan7.PNG" class="image" style="width:100%">
    <img src="/assets/japan/japan8.PNG" class="image" style="width:100%">
  </div>

</div>
