<div class="container" style="margin-bottom: 5px">

  <a style="cursor: pointer" routerLink="/daily" (click)="hideDailyDisplayEvent()">
    <img src="/assets/back.png"
         routerLink="/daily"
         class="back"
         style="width:20px; height: 20px;"
         onmouseover="this.src='/assets/back-hover.png'"
         onmouseout="this.src='/assets/back.png'">
  </a>
  <a style="cursor: pointer" routerLink="/daily" (click)="hideDailyDisplayEvent()">
    <img src="/assets/cancel.png" routerLink="/daily"
         class="clear"
         style="width:20px;
         height: 20px;
         float: right"
         onmouseover="this.src='/assets/cancel-hover.png'"
         onmouseout="this.src='/assets/cancel.png'">
  </a>

  <div class="column" >
    <img src="{{imgSrc}}" class="image" style="width:100%">
  </div>

</div>
