<div class="services-wrap container">

  <div class="header">
    What I do
  </div>

  <div class="service-blocks">
    <div class="block">
      <div class="title">Branding</div>
      <div class="content">
        gsjdhsdjsh sdjskjdhs
        gsjdhsdjsh sdjskjdhs
        gsjdhsdjsh sdjskjdhs
        gsjdhsdjsh sdjskjdhsgsjdhsdjsh sdjskjdhs
        gsjdhsdjsh sdjskjdhs
      </div>
    </div>

    <div class="block">
      <div class="title">Animation</div>
      <div class="content">
        gsjdhsdjsh sdjskjdhs
        gsjdhsdjsh sdjskjdhs
        gsjdhsdjsh sdjskjdhs
        gsjdhsdjsh sdjskjdhsgsjdhsdjsh sdjskjdhs
        gsjdhsdjsh sdjskjdhs
      </div>
    </div>

    <div class="block">
      <div class="title">Art Direction</div>
      <div class="content">
        gsjdhsdjsh sdjskjdhs
        gsjdhsdjsh sdjskjdhs
        gsjdhsdjsh sdjskjdhs
        gsjdhsdjsh sdjskjdhsgsjdhsdjsh sdjskjdhs
        gsjdhsdjsh sdjskjdhs
      </div>
    </div>
  </div>


</div>
